doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='A blog about geeky things')
    meta(name='author', content= "Terrel Shumway")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= "Geek Space 9"
    != css()

  body
    block content

    != js()
